<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">travel_explore</i>
          </div>
          <h4 class="card-title">Quản lý lĩnh vực</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Tên lĩnh vực</th>
                <th>Hình ảnh</th>
                <th class="text-right">Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listFeild">
                <td class="text-center">1</td>
                <td>{{item.ten_linh_vuc}}</td>
                <td>
                  <img style="width: 40px" [src]="createImg(item.hinh_anh)" alt="">
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" class="btn btn-warning mr-1" data-original-title="Sửa" title="Sửa">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="Xóa" title="Xóa">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <p-paginator [rows]="10" totalRecords="{{totalRecords}}" (onPageChange)="loadData($event)"></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
