<section class="w3l-form-36">
    <div class="form-36-mian section-gap">
        <div class="wrapper">
            <div class="form-inner-cont">
                <h3>Đăng nhập</h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- <form> -->
                    <div class="form-input">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span> <input type="email" name="email"
                            placeholder="Email" id="email" formControlName="email" required />
                    </div>
                    <div class="form-input">
                        <span class="fa fa-key" aria-hidden="true"></span> <input type="password" name="mat_khau"
                            placeholder="Mật khẩu" id="mat_khau" formControlName="mat_khau" required />
                    </div>
                    <div class="login-remember d-grid">
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Nhớ tôi</p>
                        </label>
                        <button type="submit" class="button1 btn theme-button">Đăng nhập</button>
                    </div>
                    <div class="new-signup">
                        <a href="#reload" class="signuplink">Bạn quên mật khẩu?</a>
                    </div>
                </form>
                <div class="social-icons">
                    <p class="continue"><span>Or</span></p>
                    <div class="social-login">
                        <a href="#facebook">
                            <div class="facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>

                            </div>
                        </a>
                        <a href="#google">
                            <div class="google">
                                <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <p class="signup">Bạn chưa có tài khoản? <a href="#signup.html" class="signuplink">Đăng ký</a></p>
            </div>
            <!-- copyright -->
            <div class="copy-right">
                <p>© 2020 Active Login Form. All rights reserved | Design by <a href="http://w3layouts.com/"
                        target="_blank">W3Layouts</a></p>
            </div>
            <!-- //copyright -->
        </div>
    </div>
</section>