
<div class="header">
  <!-- Navigation-->
  <nav class="navbar navbar-1">
    <!-- Search Form-->
<!--    <form method="get" action="#" class="search-form container">-->
<!--      <div>-->
<!--        <input type="search" name="search-field" placeholder="Type and hit enter..." class="text-search-field"/><i id="close-btn" class="fa fa-close"></i>-->
<!--      </div>-->
<!--    </form>-->
    <div class="navigation container">
      <!-- Nav Bar Toggle/collapse and Logo-->
      <div class="navbar-header">
        <div class="navbar-brand"><a routerLink="/"><img src="assets/img/logo.png" alt=""/></a></div>
        <!-- Navigation Toggle-->
        <button type="button" data-toggle="collapse" data-target=".myNavbar" class="navbar-toggle"><span class="src-only"></span><i class="fa fa-bars"></i></button>
        <div class="search-nav min"><i class="fa fa-search"></i></div>
      </div>
      <!-- Collpsing Items and Navigation-->
      <div class="myNavbar collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- Item 2-->
          <li class="menu-item"><a routerLink="/">Home</a></li>
          <li class="menu-item"><a data-toggle="dropdown" href="#" class="dropdown-toggle">Lĩnh vực<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li><a routerLink="/procedure">Giáo dục</a></li>
              <li><a href="course-list.html">Pháp luật</a></li>
              <li><a href="course-details.html">Kinh tế</a></li>
              <li><a href="course-details.html">Văn hóa</a></li>
              <li><a href="course-details.html">Thể thao</a></li>
              <li><a href="course-details.html">Y tế</a></li>
            </ul>
          </li>
          <!-- Item 7-->
          <!-- Search Icon-->
          <li class="menu-item" *ngIf="!user">
            <div class="search-nav big" routerLink="/login">
              <i class="fa fa-user"></i>
            </div>
          </li>
          <li class="menu-item" *ngIf="user">
            <div class="user-name" data-toggle="dropdown" routerLink="/profile">
              {{user.ho_ten}}
            </div>
                <ul class="sub-menu">
                  <li><a (click)="logOut()">Đăng xuất</a></li>
                </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar duplicate hidden navbar-1">
    <!-- Search Form-->
<!--    <form method="get" action="#" class="search-form container">-->
<!--      <div>-->
<!--        <input type="search" name="search-field" placeholder="Type and hit enter..." class="text-search-field"/><i class="close-btn fa fa-close"></i>-->
<!--      </div>-->
<!--    </form>-->
    <div class="navigation container">
      <!-- Nav Bar Toggle/collapse and Logo-->
      <div class="navbar-header">
        <div class="navbar-brand"><a routerLink="/"><img src="assets/img/logo.html" alt=""/></a></div>
        <!-- Navigation Toggle-->
        <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="src-only"></span><i class="fa fa-bars"></i></button>
        <div class="search-nav min"><i class="fa fa-search"></i></div>
      </div>
      <!-- Collpsing Items and Navigation-->
      <div id="myNavbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- Item 1-->
          <li class="menu-item"><a routerLink="/">Home</a></li>
          <!-- Item 2-->
          <li class="menu-item"><a data-toggle="dropdown" href="#" class="dropdown-toggle">Course<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li><a href="course-grid.html">Course Grid</a></li>
              <li><a href="course-list.html">Course List</a></li>
              <li><a href="course-details.html">Course Details</a></li>
            </ul>
          </li>          <!-- Item 1-->
          <!-- Item 7-->
          <!-- Search Icon-->
          <li class="menu-item">
            <div class="search-nav big" routerLink="/login"><i class="fa fa fa-user"></i></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
