<div class="sidebar" data-color="rose" data-background-color="black" data-image="assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sibar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a class="simple-text logo-mini">
    XV
  </a>
    <a class="simple-text logo-normal">
      Xuân Vũ
    </a></div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img [src]="createImg(User.avatar)"/>
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
              <span style="text-transform: uppercase">
                {{User.ho_ten}}
                <b class="caret"></b>
              </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link cursor-pointer" routerLink="/profile">
                <span class="sidebar-mini"> EP </span>
                <span class="sidebar-normal"> Sửa thông tin </span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/change-password">
                <span class="sidebar-mini"> CP </span>
                <span class="sidebar-normal"> Đổi mật khẩu </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logOut()">
                <span class="sidebar-mini"> LO </span>
                <span class="sidebar-normal cursor-pointer"> Đăng xuất </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard">
          <i class="material-icons">dashboard</i>
          <p> Dashboard </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/procedure">
          <i class="material-icons">ballot</i>
          <p> Thủ tục </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/feild">
          <i class="material-icons">travel_explore</i>
          <p> Lĩnh vực </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/organ">
          <i class="material-icons">apartment</i>
          <p> Cơ quan </p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
          <i class="material-icons">account_box</i>
          <p> Người dùng
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="pagesExamples">
          <ul class="nav">
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" routerLink="/user/account">
                <span class="sidebar-mini"> U </span>
                <span class="sidebar-normal"> Tài khoản </span>
              </a>
            </li>
            <li class="nav-item "  routerLinkActive="active">
              <a class="nav-link" routerLink="/user/group">
                <span class="sidebar-mini"> G </span>
                <span class="sidebar-normal"> Nhóm người dùng </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/address/city">
          <i class="material-icons">map</i>
          <p> Địa chính </p>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-background"></div>
</div>
