<div>
  <h4 class="card-title text-uppercase text-center">
    Quản lý người dùng
    <button type="button" (click)="create()" style="top: -12px"
      class="float-right mr-4 btn btn-primary btn-round btn-fab">
      <i class="material-icons">add</i>
      <div class="ripple-container"></div>
    </button>
  </h4>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of listUser">
      <div class="card card-product">
        <div class="card-header card-header-image" data-header-animation="true">
          <a href="#pablo">
            <img class="img" [src]="createImg(User.avatar)">
          </a>
        </div>
        <div class="card-body">
          <div class="card-actions text-center">
            <button type="button" class="btn btn-danger btn-link fix-broken-card">
              <i class="material-icons">build</i> Fix Header!
            </button>
            <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
              <i class="material-icons">art_track</i>
            </button>
            <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
              <i class="material-icons">close</i>
            </button>
          </div>
          <h4 class="card-title">
            <h6 class="cursor-pointer">{{item.ho_ten}}</h6>
          </h4>
          <div class="card-description">
            <p class="text-muted">{{item.so_dien_thoai}}</p>
            <p class="text-muted">{{item.email}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="price">
            <h4 *ngIf="item.role==1">Công dân</h4>
            <h4 *ngIf="item.role ==2">Cán bộ</h4>
            <h4 *ngIf="item.role==3">Admin</h4>
          </div>
          <div class="stats">
            <div class="togglebutton">
              <label>
                <input type="checkbox" checked="">
                <span class="toggle"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-paginator [rows]="10" totalRecords="{{totalRecords}}" (onPageChange)="loadData($event)"></p-paginator>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <!--      Wizard container        -->
    <div class="wizard-container modal-content">
      <div class="card card-wizard active" data-color="rose" id="wizardProfile" style="margin-top: 0; margin-bottom: 0;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
          <div class="card-header text-center">
            <h3 class="card-title">
              Build Your Profile
              <button type="button" class="close" (click)="closeModal()">
                <i class="material-icons">clear</i>
              </button>
            </h3>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                  Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                  Address
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="about">
                <h5 class="info-text">Nhập đầy đủ thông tin</h5>
                <div class="row justify-content-center">
                  <div class="col-sm-4">
                    <div class="picture-container">
                      <div class="picture">
                        <img src="assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                        <input type="file" id="wizard-picture" accept="image/*" (change)="readFileUpload($event.target.files)">
                      </div>
                      <h6 class="description">Chọn ảnh</h6>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group form-control-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" formControlName="email">
                      </div>
                    </div>
                    <div class="input-group form-control-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">vpn_key</i>
                        </span>
                      </div>
                      <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" formControlName="mat_khau">
                      </div>
                    </div>
                    <div class="input-group form-control-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">vpn_key</i>
                        </span>
                      </div>
                      <div class="form-group">
                        <label>Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" formControlName="mat_khau_2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="account">
                <h5 class="info-text"> Phân quyền </h5>
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-radio" (click)="choiceRole(3)">
                          <div class="icon">
                            <i class="material-icons">admin_panel_settings</i>
                          </div>
                          <h6>Admin</h6>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-radio" (click)="choiceRole(2)">
                          <div class="icon">
                            <i class="material-icons">support_agent</i>
                          </div>
                          <h6>Cán bộ</h6>
                        </div>
                        <mat-form-field appearance="fill">
                          <mat-label>Chọn cơ quan</mat-label>
                          <mat-select disableRipple formControlName="id_co_quan" [disabled]="roleSelect != 2">
                            <mat-option *ngFor="let item of listOrgan" [value]="item.id">
                              {{item.ten_co_quan}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-radio" (click)="choiceRole(1)">
                          <div class="icon">
                            <i class="material-icons">face</i>
                          </div>
                          <h6>Công dân</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="address">
                <div class="row justify-content-center">
                  <div class="col-sm-12">
                    <h5 class="info-text"> Nhập thông tin hồ sơ </h5>
                  </div>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <label>Họ tên</label>
                      <input type="text" class="form-control" formControlName="ho_ten">
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>Số điện thoại</label>
                      <input type="text" class="form-control" formControlName="so_dien_thoai">
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>Ngày sinh</label>
                      <input type="text" class="form-control datepicker">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <label>Địa chỉ</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="w-100">Tỉnh, thành phố</label>
                      <mat-form-field appearance="fill">
                        <mat-label>Tỉnh, thành phố</mat-label>
                        <mat-select formControlName="city" (selectionChange)="getDistrict($event.value)">
                          <mat-option *ngFor="let item of listProvince" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="w-100">Quận, huyện</label>
                      <mat-form-field appearance="fill">
                        <mat-label>Quận, huyện</mat-label>
                        <mat-select formControlName="district" (selectionChange)="getCommune($event.value)">
                          <mat-option *ngFor="let item of listDistrict" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Xã, phường, thị trấn</label>
                      <mat-form-field appearance="fill">
                        <mat-label>Xã, phường, thị trấn</mat-label>
                        <mat-select formControlName="commune">
                          <mat-option *ngFor="let item of listCommune" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="mr-auto">
              <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
            </div>
            <div class="ml-auto">
              <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
              <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" style="display: none;">
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- wizard container -->
    </div>
</div>
