<div class="jumbotron page-jumbotron bg-3">
  <div class="bottom-bar">
    <div class="container-fluid">
      <h1><i class="fa fa-graduation-cap"></i>Procedure</h1>
    </div>
  </div>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="#" class="return">Home</a><i class="fa fa-angle-right"></i></li>
        <li><a href="#">Event</a><i class="fa fa-angle-right"></i></li>
        <li><a href="#">Event grid 3 columnds</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="grid-content">
  <div class="container">
    <!-- Grid Items-->
    <div class="grid-items">
      <div class="row">
        <!-- Item 1-->
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item events">
          <!-- Image-->
          <div class="image"><img src="../../../assets/img/grid-images/img-19.jpg" alt="" class="img-responsive"/>
            <!-- Mask-->
            <div class="mask index-2"><a href="#"><i class="fa fa-mail-forward"></i></a></div>
          </div>
          <!-- Info Block-->
          <div class="info-block">
            <ul class="meta">
              <li><a routerLink="/detail">
                <h3>Name procedure</h3></a></li>
              <li><a href="#">
                <h5><i class="fa fa-calendar"></i>                      15, April 2015</h5></a></li>
              <li><a href="#">
                <h5><i class="fa fa-map-marker"></i>                      Kidzone Care Center 85 Fentiman</h5></a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><a routerLink="/detail" class="button button-simple min">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination-->
    <div class="row">
      <div class="col-md-12">
        <div class="pagination-wrapper">
          <div class="line"></div>
          <ul class="pagination">
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li class="selected"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
