@media (min-width: 1919px) {

	
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {	  
.header-right-link {
    margin-left: 10px;
} 
.main-menu ul.navbar-nav li a {
    font-size: 15px;
    padding: 35px 10px;
}    
.header-area.stick .header-right-link {
    margin-left: 10px;
} 
.header-area.stick .main-menu ul.navbar-nav li a {
    font-size: 15px;
    padding: 32px 10px;
} 
.slide-area .title2 {
    font-size: 48px;
    line-height: 54px;
}    
.money-send {
    margin: 50px 0px 0px 20px;
}    
.slide-text-inner {
    padding: 120px 0px 80px;
}    
.all-services {
    padding: 50px 9px;
}    
.about-image {
    padding-right: 30px;
}    
.ab-second-img {
    right: 0px;
}    
.icon-text {
    padding-left: 100px;
}
.icon-text p {
    font-size: 15px;
}
.feature-text-all {
    margin-left: 0px;
}    
.feature-text:hover .featture-content h4 {
    display: none;
}     
.feature-image {
    margin-right: 0px;
}    
.support-images {
    margin-right: 20px;
}    
.support-services {
    padding: 40px 25px;
}    
.support-content {
    padding-left: 110px;
}    
.overview-text {
    margin-top: 0px;
}    
.download-text {
    margin-top: 0px;
}    
.download-text h3 {
    font-size: 36px;
}    
.footer-list li a {
    font-size: 15px;
}    
.right-side {
    padding-left: 20px;
}    
.blog-page-area .blog-grid .blog-content {
    padding: 20px 15px 30px 15px;
}    
.login-form {
    padding: 40px 50px;
    margin: 0px 15px;
}
.business-faq {
    padding: 25px 15px 10px 15px;
}
.business-faq h3 {
    font-size: 26px;
}    
.single-member .team-img {
    width: 160px;
    height: 160px;
}    

    
    

    
    
    
    
    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.logo a {
    padding: 15px 0;
}
.header-right-link {
    width: 85px;
    margin-left: 10px;
    padding: 25px 0px;
}
.header-area.stick .header-right-link{
    padding: 26px 0px;
}
.layer-1 h2 {
    font-size: 31px;
    line-height: 40px;
    max-width: 460px;
    margin-bottom: 10px;
}
.layer-2 p {
    font-size: 15px;
    line-height: 24px;
    max-width: 400px;
    margin-bottom: 0px;
}
.intro-content {
    margin-top: -70px;
}
.slide-all-text {
    margin-top: 30px;
}
.intro-area-2 .slide-top-image {
    left: 40%;
    top: -30%;
}
.main-menu ul.navbar-nav li>a, 
.header-area.stick .main-menu ul.navbar-nav li>a {
    font-size: 13px;
    padding: 29px 7px;
}
.main-menu ul.nav li .mega-menu {
    width: 720px;
    left: -54%;
}
.main-menu > ul.navbar-nav >li >a::before,
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 9px;
    bottom: 25px;
}       
.section-headline h3 {
    font-size: 32px;
    line-height: 38px;
}    
.topbar-left {
    width: 100%;
}    
.slide-text-inner {
    margin-top: 0px;
    padding: 50px 0px 10px;
}
.slide-content{
    text-align: center;
}
.slide-area .title2 {
    font-size: 46px;
    line-height: 50px;
    max-width: 480px;
    margin: 0 auto;
}    
.slide-content p {
    max-width: 450px;
    margin: 0 auto 10px;
}    
.money-send {
    margin: 40px auto 50px;
    width: 435px;
}
.all-services {
    padding: 50px 0px;
}    
.about-image {
    padding-right: 30px;
}    
.ab-second-img {
    right: 0px;
    bottom: 30px;
}    
.video-play.vid-zone {
    right: 13%;
}    
.about-content h3 {
    line-height: 36px;
    font-size: 26px;
    margin-bottom: 10px;
}    
.single-about a {
    font-size: 30px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}    
.icon-text {
    padding-left: 70px;
}
.single-about p{
    margin-bottom: 0px;
}
.feature-text-all {
    margin-left: 0px;
}    
.featture-content {
    padding: 10px 5px;
    top: 65%;
}    
.featture-content h4 {
    font-size: 16px;
}    
.feature-text:hover .featture-content {
    padding: 15px 5px;
}    
.feature-text:hover .featture-content p {
    font-size: 14px;
}    
.feature-text:hover .featture-content h4 {
    display: none;
}    
.feature-image {
    margin-right: 0px;
}    
.support-images {
    float: none;
    display: block;
}    
.support-services {
    padding: 30px 30px;
}    
.overview-text {
    margin-top: 0px;
}    
.overview-text h3 {
    font-size: 26px;
    line-height: 36px;
} 
.overview-images {
    margin-right: 0px;
}    
.overview-text ul li a {
    font-size: 14px;
}    
.overview-text p {
    font-size: 15px;
}    
.download-text {
    margin-top: 0px;
}    
.download-text h3 {
    font-size: 26px;
    line-height: 36px;
}    
.app-btn.left-btn {
    margin-right: 10px;
}    
.blog-search-option input {
    width: 75%;
}    
.recent-single-post .post-img {
    display: none;
}    
.recent-single-post .pst-content {
    padding-left:0px;
}    
.related-post-list .recent-single-post:last-child {
    padding: 0px 0px 0px 10px;
}    
.related-post-list .recent-single-post {
    padding: 0px 10px 0px 0px;
}    
.business-faq {
    padding: 25px 15px 10px 15px;
}    
.business-faq h3 {
    font-size: 22px;
    line-height: 32px;
}    
.single-faq h4 {
    font-size: 20px;
}    
.table-list {
    padding: 40px 15px;
}    
.right-side {
    padding-left: 0px;
}    
.contact-icon {
    padding: 30px 10px 30px;
}    

    
    
    
    
    
/* Dashboard Responsive */
.dashboard-side ul li a {
    padding: 10px 10px;
    font-size: 14px;
}
.dashboard-side ul li a i {
    padding-right: 6px;
    font-size: 14px;
} 
.amount-content i,
.help-support i {
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}    
.edit-icon i{
    font-size:15px; 
} 
.single-dash-head,
.support-inner {
    padding: 30px 15px;
} 
.profile-content img{
    width: 60px;
    height: 60px;  
}    
.c-money,
.c-country{
    font-size: 17px;
}
.dashboard-content .currency-exchange .form-inner,
.form-inner {
    padding: 30px 20px;
}    
.table-inner td, .table-inner th{
    font-size: 14px;
}    
.pro-name {
    font-size: 16px;
    font-weight: 600;
}
.money-send::before{
    display: none;
}    
    
    
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    z-index: 999999;
    max-width: 130px;
}
.logo a,
.header-two .logo a{
    padding: 0px;
}
.intro-bg{
	display: none;
}
.intro-area{
    float: none;
    width: 100%;
    height: 100%;
    min-height: 520px;
}
.bg-wrapper,
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 520px;
    object-fit: cover;
}
.intro-content {
    margin-top: -120px;
}
.slide-all-text {
    margin-top: 60px;
}
.layer-1 h2, .intro-area-2 .layer-1 h2 {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 15px;
}
.layer-2 p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}             
.topbar-right {
    float: none;
}   
.topbar-left ul li a {
    margin-right: 5px;
    padding: 11px 0 0px;
    font-size: 14px;
}    
.topbar-right>ul>li>a {
    color: #c2d4f8;
    display: block;
    padding: 10px 30px 10px 0px;
    position: relative;
} 
.topbar-left {
    background: transparent;
    width: 100%;
} 
.topbar-left::after,
.topbar-left::before {
    display: none;
}
.slide-text-inner {
    padding: 50px 0px;
}    
.slide-area .title2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 15px;
}    
.ready-btn {
    margin-top: 10px;
}    
.money-send {
    margin: 30px 0px 0px 0px;
}    
.calculator-inner {
    padding: 15px 15px;
}    
.calculator-inner .form-input {
    width: 59.50%;
}    
.rate-text span {
    display: block;
}       
.slide-content {
    margin-top: 100px;
}    
.all-services {
    padding: 20px 10px 50px;
}    
.well-services {
    padding: 50px 0px 10px;
}    
.about-image {
    padding-right: 30px;
    margin-bottom: 40px;
}    
.about-content h3 {
    line-height: 36px;
    font-size: 26px;
} 
.ab-second-img {
    right: 0px;
    width: 60%;
}    
.video-play.vid-zone {
    top: 50%;
    right: 15%;
}    
.single-about a {
    margin-right: 15px;
}    
.section-headline h3 {
    font-size: 30px;
    line-height: 40px;
}    
.feature-image {
    margin-right: 0px;
    margin-bottom: 50px;
}    
.feature-text-all {
    margin-left: 0px;
}    
.support-images {
    float: none;
    display: block;
}    
.support-services {
    padding: 30px 15px;
}    
.overview-images {
    margin-right: 0px;
}    
.overview-text h3 {
    font-size: 26px;
    line-height: 36px;
}    
.single-brand-item {
    width: 50%;
}    
.brand-content {
    padding: 30px 5px 30px;
}    
.single-brand-item a {
    margin: 10px;
}    
.download-text {
    margin-top: 0px;
}    
.download-text h3 {
    font-size: 26px;
    line-height: 36px;
}    
.app-btn {
    padding: 15px 22px 15px 30px;
    width: 140px;
    font-size: 16px;
    margin-right: 5px;
}    
.app-btn::before {
    left: 10px;
    top: 11px;
    font-size: 14px;
}    
.download-image {
    margin-top: 50px;
    margin-left: 0px;
}    
.footer-content {
    margin-bottom: 40px;
}    
.last-content{
    margin-bottom: 0px;
}    
.app-btn.left-btn {
    margin-right: 6px;
}    
.blog-grid .blog-content {
    padding: 20px 10px 30px 15px;
}    
.blog-meta span {
    padding-right: 5px;
}
.breadcrumb {
    padding: 140px 0px 90px;
}    
.business-faq h3 {
    font-size: 24px;
}
.business-faq {
    padding: 20px 15px 10px 15px;
}
.faq-full {
    margin-top: 30px;
    margin-left: 0px;
}    
.single-faq h4 {
    padding: 12px 15px;
    font-size: 19px;
}    
.prices {
    font-size: 36px;
    padding-right: 15px;
}    
.table-list {
    padding: 40px 25px;
}    
.login-form {
    padding: 30px 15px;
    margin: 0px 0px;
}    
.blog-page-area .blog-grid .blog-content {
    padding: 20px 15px 30px 15px;
} 
.right-side {
    padding-left: 0px;
    margin-top: 50px;
}    
.blog-search-option {
    margin-bottom: 20px;
}    
.blog-details .img-blog {
    width: 100%;
    float: none;
}    
.right-blog-img img {
    padding-left: 0px;
}    
.post-img {
    padding-right: 10px;
}    
.related-post-list .recent-single-post {
    width: 100%;
    float: none;
    padding: 0px;
    margin-bottom: 30px;
}
.related-post-list .recent-single-post:last-child {
    padding:0px;
}    
.threaded-comments {
    margin-left: 15px;
}    
blockquote {
    padding: 20px 15px 40px 50px;
}
blockquote::before {
    left: 8px;
}    
.contact-icon {
    margin-bottom: 30px;
    padding: 30px 15px 30px;
}    

    
/* Dashboard Responsive */
.dashboard-content .currency-exchange .form-inner,
.form-inner {
    padding: 30px 20px;
} 
.table-inner {
    max-width: 100%;
    overflow-x: auto;
    width: 800px;
}           
.table-inner table{
    width: 800px; 
}
.money-send::before{
    display: none;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.digital-services {
    width: 50%;
    float: left;
}  
    
    
    
    
    
    
    
    
}
 
