<div class="slide-area fix">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="slide-text-inner">
            <!-- Start single column-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="feature-image">
                <div class="rotmate-image rotateme">
                  <img src="assets/img/about/circle.png" alt="">
                </div>
                <div class="top-img">
                  <img src="assets/img/about/ab1.png" alt="">
                </div>
              </div>
            </div>
            <!-- End single column-->
            <!-- Start single column-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                <div class="feature-text-all">
                  <!-- Start feature column  -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-text wow fadeInUp" data-wow-delay="0.2s">
                      <img src="assets/img/feature/f1.jpg" alt="" class="feature-img">
                      <div class="featture-content">
                        <h4>Freelancer</h4>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                          and praising pain</p>
                      </div>
                    </div>
                  </div>
                  <!-- End feature column  -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-text wow fadeInUp" data-wow-delay="0.3s">
                      <img src="assets/img/feature/f2.jpg" alt="" class="feature-img">
                      <div class="featture-content">
                        <h4>Online shopping</h4>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                          and praising pain</p>
                      </div>
                    </div>
                  </div>
                  <!-- End feature column  -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-text wow fadeInUp" data-wow-delay="0.4s">
                      <img src="assets/img/feature/f3.jpg" alt="" class="feature-img">
                      <div class="featture-content">
                        <h4>Pay a friend</h4>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                          and praising pain</p>
                      </div>
                    </div>
                  </div>
                  <!-- End feature column  -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-text wow fadeInUp" data-wow-delay="0.5s">
                      <img src="assets/img/feature/f4.jpg" alt="" class="feature-img">
                      <div class="featture-content">
                        <h4>Social marketing</h4>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                          and praising pain</p>
                      </div>
                    </div>
                  </div>
                  <!-- End feature column  -->
                </div>
              </div>
            </div>
            <!-- End feature area -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Start services area -->
<div class="services-area bg-color area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline white-headline text-center">
          <h3>Bultifore services worldwide</h3>
          <p>Help agencies to define their new business objectives and then create professional software.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Start single column-->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service ">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-048-atm"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Money Transfer</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End single column-->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service ">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-103-buildings"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Bank deposit</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End single column-->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service ">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-067-shopping-cart-1"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Online Shopping</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End single column-->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service ">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-040-mobile-phone-4"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Online payment</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End single column-->
      <div class="col-md-offset-3 col-md-3 col-sm-4 col-xs-12">
        <div class="single-service ">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-109-credit-card"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Prepaid Card</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End single column-->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service ">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-091-mobile-phone-2"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Pay a Bill</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End single column-->
    </div>
  </div>
</div>
<!-- End services area -->
<!-- Start brand banner area -->
<div class="brand-area area-padding fix" data-stellar-background-ratio="0.6">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h3>Business Partner</h3>
          <p>Help agencies to define their new business objectives and then create professional software.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End brand banner area -->
<!-- Start brand area -->
<div class="brand-area-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="brand-content">
          <div class="brand-items">
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/1.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/2.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/3.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/4.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/5.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/6.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/7.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/8.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/6.png" alt=""></a>
            </div>
            <div class="single-brand-item">
              <a href="#"><img src="assets/img/brand/7.png" alt=""></a>
            </div>
          </div>
          <a class="hire-btn" href="contact.html">Get started</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End brand area -->