<!-- Jumbotoron-->
<div class="jumbotron jumbotron-1">
  <div class="container">
    <h1>Welcome to Learning Center</h1>
    <div class="ribbon">
      <ul>
        <li><i class="fa fa-star-o"></i></li>
        <li>
          <h2>Kidzone</h2>
        </li>
        <li><i class="fa fa-star-o"></i></li>
      </ul><img src="../../../assets/img/others/ribbon.png" alt=""/>
    </div>
    <p>We build up the best education nvironment for children and direct them to express themselves at most</p>
  </div>
</div>
  <!-- Features-->
  <div class="features-wrapper index-1">
    <div class="container">
      <!-- Features Row-->
      <div class="features row">
        <!-- Feature 1-->
        <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
          <div class="feature color-1">
            <div class="icon"><img src="../../../assets/img/icons/dao-tao.png" style="height: 110px; width: 110px" alt="" class="img-responsive"/></div>
            <h2>Giáo dục</h2>
            <p>We create the best learning environment with funny and happy activities for all students</p>
          </div>
        </div>
        <!-- Feature 2-->
        <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
          <div class="feature color-2">
            <div class="icon"><img src="../../../assets/img/icons/law.png" style="height: 110px; width: 110px" alt="" class="img-responsive"/></div>
            <h2>Pháp luật</h2>
            <p>We create the best learning environment with funny and happy activities for all students</p>
          </div>
        </div>
        <!-- Feature 3-->
        <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
          <div class="feature color-3 bottom">
            <div class="icon"><img src="../../../assets/img/icons/kisspng-computer-icons-chart.png" style="height: 110px; width: 110px" alt="" class="img-responsive"/></div>
            <h2>Xã hội</h2>
            <p>We create the best learning environment with funny and happy activities for all students</p>
          </div>
        </div>
        <!-- Feature 4-->
        <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
          <div class="feature color-4 bottom">
            <div class="icon"><img src="../../../assets/img/icons/hinh-anh-logo-hoa-sen-png_102723080.png" style="height: 110px; width: 110px" alt="" class="img-responsive"/></div>
            <h2>Văn hóa</h2>
            <p>We create the best learning environment with funny and happy activities for all students</p>
          </div>
        </div>
      </div>
    </div>
  </div>

