<p-toast></p-toast>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">ballot</i>
          </div>
          <h4 class="card-title" style="text-transform: uppercase">Quản lý thủ tục
            <button type="button" (click)="create()" class="btn btn-primary btn-add float-right">
              <i class="material-icons">add</i>
            </button>
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Tên thủ tục</th>
                <th>Mức độ</th>
                <th>Tên template</th>
                <th>Trạng thái</th>
                <th class="text-right">Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listProcedure; index as i">
                <td class="text-center">{{i + 1}}</td>
                <td>{{item.ten_thu_tuc}}</td>
                <td>{{item.muc_do}}</td>
                <td>{{item.template}}</td>
                <td>
                  <div class="togglebutton">
                    <label>
                      <input type="checkbox" (change)="status($event)" value="{{item.id}}"
                             [checked]="item.deleted_at == null">
                      <span class="toggle"></span>
                    </label>
                  </div>
                </td>
                <td class="td-actions text-right">
                  <button type="button" (click)="edit(item.id)" class="btn btn-warning mr-1">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" (click)="delete(item.id)" class="btn btn-danger">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal fade right" style="z-index: 990" id="exampleModalPreview" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
      <div class="modal-content-full-width modal-content ">
        <div class=" modal-header-full-width  modal-header text-center">
          <h5 class="modal-title w-100 text-uppercase"
              id="exampleModalPreviewLabel">{{aoe ? 'Thêm thủ tục' : 'Sửa thủ tục'}}</h5>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title text-center text-uppercase">Thông tin thủ tục</h4>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Tên thủ tục</label>
                    <input class="form-control" type="text" formControlName="ten_thu_tuc">
                    <div *ngIf="submitted && form.controls.ten_thu_tuc.errors">
                      <small class="error" *ngIf="form.controls.ten_thu_tuc.errors.required">Chưa nhập tên thủ
                        tục.</small>
                      <small class="error" *ngIf="form.controls.ten_thu_tuc.errors.maxlength">Tên thủ tục không được lớn
                        hơn 255 ký tự.</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" [style]="{'width': '100%'}">
                        <mat-label>Chọn cơ quan</mat-label>
                        <mat-select formControlName="id_co_quan" (selectionChange)="getFeild($event)">
                          <mat-option *ngFor="let item of listOrgan" [value]="item.id">{{item.ten_co_quan}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="submitted && form.controls.id_co_quan.errors">
                        <small class="text-danger" *ngIf="form.controls.id_co_quan.errors.required">Chưa chọn cơ quan.</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" [style]="{'width': '100%'}">
                        <mat-label>Chọn lĩnh vực</mat-label>
                        <mat-select formControlName="id_linh_vuc">
                          <mat-option *ngFor="let item of listFeild"
                                      [value]="item.id">{{item.ten_linh_vuc}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="submitted && form.controls.id_linh_vuc.errors">
                        <small class="text-danger" *ngIf="form.controls.id_linh_vuc.errors.required">Chưa chọn lĩnh
                          vực.</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" [style]="{'width': '100%'}">
                        <mat-label>Chọn mức độ</mat-label>
                        <mat-select formControlName="muc_do">
                          <mat-option [value]="1">1</mat-option>
                          <mat-option [value]="2">2</mat-option>
                          <mat-option [value]="3">3</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="submitted && form.controls.muc_do.errors">
                        <small class="text-danger" *ngIf="form.controls.muc_do.errors.required">Chưa chọn mức độ.</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" [style]="{'width': '100%'}">
                        <mat-label>Chọn template</mat-label>
                        <mat-select formControlName="template">
                          <mat-option *ngFor="let item of listTemplate" [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="submitted && form.controls.template.errors">
                        <small class="text-danger" *ngIf="form.controls.template.errors.required">Chưa chọn template.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <h4 class="card-title text-center text-uppercase">Danh sách quy trình
                    <button type="button" (click)="createProcedure()" class="btn btn-primary btn-add float-right">
                      <i class="material-icons">add</i>
                    </button>
                  </h4>
                </div>
                <div class="card-body table-scroll">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tbody>
                      <ng-container *ngFor="let item of procedure; index as i">
                        <tr (click)="showModalStep(item)">
                          <td class="text-center">{{i + 1}}</td>
                          <td>{{item.ten_quy_trinh}}</td>
                          <td class="td-actions text-right">
                            <button type="button" (click)="createStep(item); $event.stopPropagation()" class="btn btn-success mr-1">
                              <i class="material-icons">add</i>
                            </button>
                            <button type="button" (click)="editProcedure(item); $event.stopPropagation()" class="btn btn-warning mr-1">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="button" (click)="deleteProcedure(item); $event.stopPropagation()" class="btn btn-danger">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="submitted && (!item.buoc || item.buoc.length == 0)">
                          <td class="text-center text-danger" colspan="3">Chưa thêm bước cho quy trình {{item.ten_quy_trinh}}</td>
                        </tr>
                      </ng-container>
                      <tr *ngIf="procedure.length == 0">
                        <td class="text-center text-danger" colspan="3">Chưa thêm quy trình</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer-full-width modal-footer">
          <button type="button" class="btn btn-danger btn-md btn-rounded mr-1" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary btn-md btn-rounded">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="myModal" style="z-index: 1010; background: #6666" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="formProcedure" (ngSubmit)="submitProcedure()">
        <div class="modal-header pb-0">
          <h4 class="modal-title card-title text-uppercase" *ngIf="aoePro == 1">Thêm quy trình</h4>
          <h4 class="modal-title card-title text-uppercase" *ngIf="aoePro == 2">Sửa quy trình</h4>
          <h4 class="modal-title card-title text-uppercase" *ngIf="aoePro == 3">Thêm bước</h4>
          <h4 class="modal-title card-title text-uppercase" *ngIf="aoePro == 4">Sửa bước</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body ">
            <div class="form-group">
              <label>Tên</label>
              <input class="form-control" type="text" formControlName="ten">
              <div *ngIf="submittedPro && formProcedure.controls.ten.errors">
                <small class="error" *ngIf="formProcedure.controls.ten.errors.required">Chưa nhập tên.</small>
                <small class="error" *ngIf="formProcedure.controls.ten.errors.maxlength">Tên không được lớn
                  hơn 255 ký tự.</small>
                <small class="error" *ngIf="formProcedure.controls.ten.errors.unique">Tên đã tồn tại.</small>
              </div>
            </div>
            <div class="form-group">
              <label>Ghi chú</label>
              <ckeditor [editor]="Editor" formControlName="ghi_chu"></ckeditor>
              <div *ngIf="submittedPro && formProcedure.controls.ghi_chu.errors">
                <small class="error" *ngIf="formProcedure.controls.ghi_chu.errors.required">Chưa nhập ghi chú.</small>
              </div>
            </div>
          </div>
          <div class="modal-footer pt-0">
            <button type="button" class="btn btn-danger mr-2" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  End Modal -->
</div>

<div class="modal fade" id="modalStep" style="z-index: 1003; background: #6666" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card m-0">
        <div class="card-header card-header-rose card-header-icon">
          <h4 class="card-title text-center text-uppercase">Danh sách bước
            <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
              <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
            </button>
          </h4>
        </div>
        <div class="card-body table-scroll">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr *ngFor="let item of listStep; index as i">
                <td class="text-center">{{i + 1}}</td>
                <td>{{item.ten_buoc}}</td>
                <td class="td-actions text-right">
                  <button type="button" (click)="editStep(item)" class="btn btn-warning mr-1">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" (click)="deleteStep(item)" class="btn btn-danger">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="listStep.length == 0">
                <td class="text-center text-danger">Chưa thêm bước</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
</div>
