.mat-form-field {
  background-color: white;
  border-radius: 25px;
  width: 100%;
}

.mat-form-field-underline {
  width: unset!important;
}

.form-select {
  width: 100%!important;
  border-radius: 25px;
}

.country-item {
  padding: 10px 0 10px 0;
}

.p-dropdown-items {
  max-height: 200px !important;
}

.text-danger {
  color: red;
}
