
<!-- Footer-->
<footer class="footer-1">
  <!-- Footer-->
  <div class="footer">
    <div class="container">
      <!-- Social Media-->
      <ul class="social-media">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
      </ul>
      <!-- Copyright-->
      <h5 class="copyright">© Kidzone - Children Kindergarten WordPress Theme by <a href="#">YoloTheme</a></h5>
    </div>
  </div>
</footer>
<!-- .site-->
