<p-toast></p-toast>
<div class="about-wrapper index-1">
  <div class="container">
    <!-- Section Name-->
    <div class="section-name index-1">
      <h1>{{title}}</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ab.</p>
      <div class="sep"></div>
    </div>
    <!-- Tab switcher-->
    <ul class="nav nav-pills tab-switcher text-center">
      <li class="active"><a data-toggle="tab" href="#tab-1" (click)="changeTitle($event)">Hồ sơ</a></li>
      <li><a data-toggle="tab" href="#tab-2" (click)="changeTitle($event)">Đổi mật khẩu</a></li>
      <li><a data-toggle="tab" href="#tab-3" (click)="changeTitle($event)">Lịch sử</a></li>
    </ul>
    <!-- Tabs Content-->
    <div class="tab-content">
      <!-- Tab Content 1-->
      <div id="tab-1" class="active tab-pane">
        <div class="row">
          <!-- Image-->
          <div class="col-md-3"></div>
          <div class="col-md-6 contact-form-wrapper">
            <!--             Contact Form-->
            <form [formGroup]="formProfile" (ngSubmit)="updateProfile()" class="contact-form">
              <div class="row">
                <div class="avatar-wrapper">
                  <img class="profile-pic" [src]="getUserAvatar" />
                  <div class="upload-button" (click)="uploadButton()">
                  </div>
                  <input class="file-upload" type="file" accept="image/*" (change)="readFileUpload($event.target.files)" />
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Họ tên</label>
                <input type="text" formControlName="ho_ten" placeholder="Họ tên">
                <div *ngIf="submittedPro && formProfile.controls.ho_ten.errors">
                  <span class="text-danger" *ngIf="formProfile.controls.ho_ten.errors.required">Chưa nhập họ tên.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.ho_ten.errors.minlength">Họ tên không được dưới 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.ho_ten.errors.minlength">Họ tên không được trên 50 ký tự.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Số điện thoại</label>
                <input type="text" formControlName="so_dien_thoai" placeholder="Số điện thoại">
                <div *ngIf="submittedPro && formProfile.controls.so_dien_thoai.errors">
                  <span class="text-danger" *ngIf="formProfile.controls.so_dien_thoai.errors.required">Chưa nhập số điện thoại.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.so_dien_thoai.errors.pattern">Số điện thoại không hợp lệ</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Địa chỉ</label>
                <input type="text" formControlName="dia_chi" placeholder="Địa chỉ cụ thể">
                <div *ngIf="submittedPro && formProfile.controls.dia_chi.errors">
                  <span class="text-danger" *ngIf="formProfile.controls.dia_chi.errors.required">Chưa nhập địa chỉ.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.dia_chi.errors.minlength">Địa chỉ không được dưới 2 ký tự.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.dia_chi.errors.maxlength">Địa chỉ không được trên 150 ký tự.</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="pl-5px">Tỉnh</label>
                  <div class="field">
                    <p-dropdown formControlName="city" (onChange)="getDistrict($event.value)" optionValue="id" optionLabel="name" [options]="listProvince" placeholder="Chọn tỉnh, thành phố" [virtualScroll]="true" [itemSize]="31"
                                [filter]="false"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="pl-5px">Huyện</label>
                  <div class="field">
                    <p-dropdown formControlName="district" (onChange)="getCommune($event.value)" optionValue="id" optionLabel="name" [style]="style" [options]="listDistrict" placeholder="Chọn quận, huyện" [virtualScroll]="true" [itemSize]="31"
                                [filter]="false"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="pl-5px">Xã</label>
                  <div class="field">
                    <p-dropdown formControlName="commune" optionValue="id" optionLabel="name" [style]="style" [options]="listCommune" placeholder="Chọn xã, phường, thị trấn" [virtualScroll]="true" [itemSize]="31"
                                [filter]="false"></p-dropdown>
                  </div>
                </div>
              </div>
              <div *ngIf="submittedPro && formProfile.controls.city.errors && formProfile.controls.district.errors && formProfile.controls.commune.errors">
                <span class="text-danger" *ngIf="formProfile.controls.city.errors.required">Chưa chọn thành phố.</span>
                <span class="text-danger" *ngIf="formProfile.controls.district.errors.required">Chưa chọn quận, huyện.</span>
                <span class="text-danger" *ngIf="formProfile.controls.commune.errors.required">Chưa chọn xã, phường, thị trấn.</span>
              </div>
              <div class="field">
                <label class="pl-16px">Ngày sinh</label>
                <p-calendar formControlName="ngay_sinh" [style]="{'width': '100%'}" placeholder="Ngày sinh" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="submittedPro && formProfile.controls.ngay_sinh.errors">
                  <span class="text-danger" *ngIf="formProfile.controls.ngay_sinh.errors.required">Chưa nhập ngày sinh.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.ngay_sinh.errors.minlength">Ngày sinh không hợp lệ.</span>
                  <span class="text-danger" *ngIf="formProfile.controls.ngay_sinh.errors.maxlength">Ngày sinh không hợp lệ.</span>
                </div>
              </div>
              <div class="field">

                <label class="pl-16px">Hình ảnh <span class="text-danger">(Không thay đổi nếu không
                                chọn ảnh)</span></label>
                <p-fileUpload #file [showCancelButton]="false" [showUploadButton]="false" chooseLabel="Chọn ảnh" [multiple]="false" accept="image/*" maxFileSize="1000000">
                </p-fileUpload>
              </div>
              <button type="submit" class="btn-custom btn">Cập nhật</button>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <!-- Tab Content 2-->
      <div id="tab-2" class="tab-pane">
        <div class="row">
          <!-- Image-->
          <div class="col-md-3"></div>
          <div class="col-md-6 contact-form-wrapper">
            <!--             Contact Form-->
            <form class="contact-form" [formGroup]="formChangePass" (ngSubmit)="changePass()">
              <div class="field">
                <label class="pl-16px">Mật khẩu cũ</label>
                <input type="email" formControlName="mat_khau_cu" placeholder="Mật khẩu cũ">
                <div *ngIf="submittedCP && formChangePass.controls.mat_khau_cu.errors">
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_cu.errors.required">Chưa nhập email.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_cu.errors.email">Email không đúng định dạng.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_cu.errors.minlength">Email không được nhỏ hơn 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_cu.errors.maxlength">Email không được lớn hơn 50 ký tự.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Mật khẩu mới</label>
                <input type="password" formControlName="mat_khau_moi" placeholder="Mật khẩu mới" autocomplete="off">
                <div *ngIf="submittedCP && formChangePass.controls.mat_khau_moi.errors">
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_moi.errors.required">Chưa nhập mật khẩu.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_moi.errors.minlength">Mật khẩu không được dưới 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_moi.errors.maxlength">Mật khẩu không được trên 50 ký tự.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_moi.errors.pattern">Mật khẩu không đúng định dạng.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Nhập lại mật khẩu</label>
                <input type="password" formControlName="mat_khau_2" placeholder="Nhập lại mật khẩu mới">
                <div *ngIf="submittedCP && formChangePass.controls.mat_khau_2.errors">
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_2.errors.required">Chưa xác nhận mật khẩu.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_2.errors.confirm_password">Mật khẩu không khớp.</span>
                  <span class="text-danger" *ngIf="formChangePass.controls.mat_khau_2.errors.pattern">Mật khẩu không đúng định dạng.</span>
                </div>
              </div>
              <button type="submit" class="btn-custom btn">Cập nhật</button>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
