<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:;">Error Page</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
  </div>
</nav>
<!-- End Navbar -->
<div class="wrapper wrapper-full-page">
  <div class="page-header error-page header-filter" style="background-image: url('assets/img/clint-mckoy.jpg')">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="content-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">404</h1>
          <h2>Page not found :(</h2>
          <h4>Ooooups! Looks like you got lost.</h4>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright float-right">
          &copy; 2020, made with <i class="material-icons">favorite</i> by
          <a href="https://www.facebook.com/xuanvu1409" target="_blank">Xuân Vũ</a>
        </div>
      </div>
    </footer>
  </div>
</div>
