<p-toast></p-toast>
<div class="about-wrapper index-1">
  <div class="container">
    <!-- Section Name-->
    <div class="section-name index-1">
      <h1 *ngIf="title">Đăng nhập</h1>
      <h1 *ngIf="!title">Đăng ký</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ab.</p>
      <div class="sep"></div>
    </div>
    <!-- Tab switcher-->
    <ul class="nav nav-pills tab-switcher text-center">
      <li class="active"><a data-toggle="tab" href="#tab-1" (click)="changeTitle(true)">Đăng nhập</a></li>
      <li><a data-toggle="tab" href="#tab-2" (click)="changeTitle(false)">Đăng ký</a></li>
    </ul>
    <!-- Tabs Content-->
    <div class="tab-content">
      <!-- Tab Content 1-->
      <div id="tab-1" class="active tab-pane">
        <div class="row">
          <!-- Image-->
          <div class="col-md-3"></div>
          <div class="col-md-6 contact-form-wrapper">
<!--             Contact Form-->
            <form [formGroup]="formLogin" (ngSubmit)="login()" class="contact-form">
              <div class="field">
                <label class="pl-16px">Email</label>
                <input type="email" formControlName="email" placeholder="E-mail">
                <div *ngIf="submittedLo && formLogin.controls.email.errors">
                  <span class="text-danger" *ngIf="formLogin.controls.email.errors.required">Chưa nhập email.</span>
                  <span class="text-danger" *ngIf="formLogin.controls.email.errors.email">Email không đúng định dạng.</span>
                  <span class="text-danger" *ngIf="formLogin.controls.email.errors.minlength">Email không được nhỏ hơn 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formLogin.controls.email.errors.maxlength">Email không được lớn hơn 50 ký tự.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Mật khẩu</label>
                <input type="password" formControlName="mat_khau" placeholder="Mật khẩu">
                <div *ngIf="submittedLo && formLogin.controls.mat_khau.errors">
                  <div class="text-danger" *ngIf="formLogin.controls.mat_khau.errors.required">Chưa nhập mật khẩu.</div>
                  <div class="text-danger" *ngIf="formLogin.controls.mat_khau.errors.minlength">Mật khẩu không được dưới 8 ký tự.</div>
                  <div class="text-danger" *ngIf="formLogin.controls.mat_khau.errors.maxlength">Mật khẩu không được trên 50 ký tự.</div>
                  <div class="text-danger" *ngIf="formLogin.controls.mat_khau.errors.pattern">Mật khẩu không đúng định dạng.</div>
                </div>
              </div>
              <button type="submit" class="btn-custom btn">Đăng nhập</button>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <!-- Tab Content 2-->
      <div id="tab-2" class="tab-pane">
        <div class="row">
          <!-- Image-->
          <div class="col-md-3"></div>
          <div class="col-md-6 contact-form-wrapper">
<!--             Contact Form-->
            <form class="contact-form" [formGroup]="formRegister" (ngSubmit)="register()">
              <div class="row">
                <div class="avatar-wrapper">
                  <img class="profile-pic" src="assets/img/no-avatar.jpg" />
                  <div class="upload-button" (click)="uploadButton()">
                  </div>
                  <input class="file-upload" type="file" accept="image/*" (change)="readFileUpload($event.target.files)" />
                </div>
                <div class="text-center" *ngIf="!file_avatar && submittedRe">
                  <p class="text-danger">Chưa chọn ảnh.</p>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Email</label>
                <input type="email" formControlName="email" placeholder="E-mail">
                <div *ngIf="submittedRe && formRegister.controls.email.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.email.errors.required">Chưa nhập email.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.email.errors.email">Email không đúng định dạng.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.email.errors.minlength">Email không được nhỏ hơn 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.email.errors.maxlength">Email không được lớn hơn 50 ký tự.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Mật khẩu</label>
                <input type="password" formControlName="mat_khau" placeholder="Mật khẩu" autocomplete="off">
                <div *ngIf="submittedRe && formRegister.controls.mat_khau.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.mat_khau.errors.required">Chưa nhập mật khẩu.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.mat_khau.errors.minlength">Mật khẩu không được dưới 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.mat_khau.errors.maxlength">Mật khẩu không được trên 50 ký tự.</span>
                  <span class="text-danger" *ngIf="formLogin.controls.mat_khau.errors.pattern">Mật khẩu không đúng định dạng.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Nhập lại mật khẩu</label>
                <input type="password" formControlName="mat_khau_2" placeholder="Nhập lại mật khẩu">
                <div *ngIf="submittedRe && formRegister.controls.mat_khau_2.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.mat_khau_2.errors.required">Chưa xác nhận mật khẩu.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.mat_khau_2.errors.confirm_password">Mật khẩu không khớp.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.mat_khau_2.errors.pattern">Mật khẩu không đúng định dạng.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Họ tên</label>
                <input type="text" formControlName="ho_ten" placeholder="Họ tên">
                <div *ngIf="submittedRe && formRegister.controls.ho_ten.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.ho_ten.errors.required">Chưa nhập họ tên.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.ho_ten.errors.minlength">Họ tên không được dưới 8 ký tự.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.ho_ten.errors.minlength">Họ tên không được trên 50 ký tự.</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Số điện thoại</label>
                <input type="text" formControlName="so_dien_thoai" placeholder="Số điện thoại">
                <div *ngIf="submittedRe && formRegister.controls.so_dien_thoai.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.so_dien_thoai.errors.required">Chưa nhập số điện thoại.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.so_dien_thoai.errors.pattern">Số điện thoại không hợp lệ</span>
                </div>
              </div>
              <div class="field">
                <label class="pl-16px">Địa chỉ cụ thể</label>
                <input type="text" formControlName="dia_chi" placeholder="Địa chỉ cụ thể">
                <div *ngIf="submittedRe && formRegister.controls.dia_chi.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.dia_chi.errors.required">Chưa nhập địa chỉ.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.dia_chi.errors.minlength">Địa chỉ không được dưới 2 ký tự.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.dia_chi.errors.maxlength">Địa chỉ không được trên 150 ký tự.</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="pl-5px">Tỉnh</label>
                  <div class="field">
              <p-dropdown formControlName="city" (onChange)="getDistrict($event.value)" optionValue="id" optionLabel="name" [style]="style" [options]="listProvince" placeholder="Chọn tỉnh, thành phố" [virtualScroll]="true" [itemSize]="31"
                          [filter]="false"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="pl-5px">Huyện</label>
                  <div class="field">
                    <p-dropdown formControlName="district" (onChange)="getCommune($event.value)" optionValue="id" optionLabel="name" [style]="style" [options]="listDistrict" placeholder="Chọn quận, huyện" [virtualScroll]="true" [itemSize]="31"
                                [filter]="false"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="pl-5px">Xã</label>
                  <div class="field">
                    <p-dropdown formControlName="commune" optionValue="id" optionLabel="name" [style]="style" [options]="listCommune" placeholder="Chọn xã, phường, thị trấn" [virtualScroll]="true" [itemSize]="31"
                                [filter]="false"></p-dropdown>
                  </div>
                </div>
                </div>
              <div *ngIf="submittedRe && formRegister.controls.city.errors && formRegister.controls.district.errors && formRegister.controls.commune.errors">
                <span class="text-danger" *ngIf="formRegister.controls.city.errors.required">Chưa chọn thành phố.</span>
                <span class="text-danger" *ngIf="formRegister.controls.district.errors.required">Chưa chọn quận, huyện.</span>
                <span class="text-danger" *ngIf="formRegister.controls.commune.errors.required">Chưa chọn xã, phường, thị trấn.</span>
              </div>
              <div class="field">
                <label class="pl-16px">Ngày sinh</label>
                <p-calendar formControlName="ngay_sinh" [style]="{'width': '100%'}" placeholder="Ngày sinh" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="submittedRe && formRegister.controls.ngay_sinh.errors">
                  <span class="text-danger" *ngIf="formRegister.controls.ngay_sinh.errors.required">Chưa nhập ngày sinh.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.ngay_sinh.errors.minlength">Ngày sinh không hợp lệ.</span>
                  <span class="text-danger" *ngIf="formRegister.controls.ngay_sinh.errors.maxlength">Ngày sinh không hợp lệ.</span>
                </div>
              </div>
              <button type="submit" class="btn-custom btn" [disabled]="!file_avatar">Đăng ký</button>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
