<!-- Jumbotron-->
<div class="jumbotron page-jumbotron bg-7">
  <div class="bottom-bar">
    <div class="container-fluid">
      <h1><i class="fa fa-calendar"></i>Name procedure</h1>
    </div>
  </div>
</div>
<!-- Breadcrumb-->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="#" class="return">Home</a><i class="fa fa-angle-right"></i></li>
        <li><a href="#">Events</a><i class="fa fa-angle-right"></i></li>
        <li><a href="#">Event Details</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="details-content">
  <!-- Details Top-->
  <div class="details-wrapper-top">
    <div class="container">
      <div class="details-top event">
        <!-- Title-->
        <h1 class="title">Name field</h1>
        <ul class="meta">
          <li>
            <h4><i class="fa fa-calendar"></i>                5, April 2015</h4>
          </li>
          <li>
            <h4><i class="fa fa-map-marker"></i>                Kidzone Care Center 85 Fentiman</h4>
          </li>
        </ul>
        <!-- Image-->
        <div class="image"><img src="../../../assets/img/details-images/img-2.jpg" alt="" class="img-responsive"/></div>
        <!-- Info Block-->
        <div class="info-block">
          <p>Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Activities List-->
  <div class="list-panels-wrapper event">
    <div class="container">
      <!-- Title-->
      <h1 class="title">Step</h1>
      <!-- Panels-->
      <div class="panels list style1 row">
        <!-- Panel 1-->
        <div class="col-md-6 col-sm-6 col-xs-12 panel left">
          <!-- Panel Heading-->
          <div class="panel-heading">
            <h3>Name step</h3>
          </div>
          <!-- Panel Body-->
          <div class="panel-body">
            <ul class="l">
              <li>
                <h4>Family painting compatition</h4>
              </li>
              <li>
                <h4>Guest speech - Anna</h4>
              </li>
              <li>
                <h4>Art hour: best drawing pictures</h4>
              </li>
              <li>
                <h4>Free drink and food</h4>
              </li>
            </ul>
          </div>
        </div>
        <!-- Panel 2-->
        <div class="col-md-6 col-sm-6 col-xs-12 panel right">
          <!-- Panel Heading-->
          <div class="panel-heading">
            <h3>Note</h3>
          </div>
          <!-- Panel Body-->
          <div class="panel-body">
            <ul>
              <li>
                <h4>8 am - 10 am</h4>
              </li>
              <li>
                <h4>10 am - 10.30 am</h4>
              </li>
              <li>
                <h4>10.30 am - 12 pm</h4>
              </li>
              <li>
                <h4>12pm - 1pm</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact-->
  <div class="contact-wrapper event">
    <div class="container">
      <div class="row">
        <!-- Contact-->
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="contact">
            <!-- Section Name-->
            <div class="section-name index-2">
              <div class="sep"></div>
              <h1>Profile Form</h1>
            </div>
            <!-- Contact Form-->
            <form action="#" class="contact-form">
              <div class="field">
                <input type="text" name="name" placeholder="Name"/>
              </div>
              <div class="field">
                <input type="email" name="email" placeholder="E-mail"/>
              </div>
              <div class="field">
                <input type="tel" name="phone" placeholder="Phone"/>
              </div>
              <div class="field">
                <textarea name="Message" cols="10" rows="10" placeholder="Message"></textarea>
              </div>
              <input type="submit" value="Send profile" class="submit"/>
            </form>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
